[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
cloakcraft = "HsQk1VmzbDwXZnQfevgJvHAfYioFmKJKCBgfuTFKVJAu"

[programs.devnet]
cloakcraft = "HsQk1VmzbDwXZnQfevgJvHAfYioFmKJKCBgfuTFKVJAu"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm exec ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
build = "./scripts/build-circuits.sh && anchor build"
